body, .stApp {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
    background-size: cover;
    background-repeat: no-repeat; 
    background-color: #283237; 
}


body {
    color: #fdfdfd; 
}

h1, h2, h3 {
    color: #030000;
}

p1, p2, p3 {
    color: #030000;
}

.stMetric {
    background-color: #000000; 
    border: 2px solid #ff0000; 
}

.stDataFrame {
    border: 2px solid #000000; 
}

/* Some simple test on firefox inspector mode */
.st-emotion-cache-1wivap2 {
    color: #FFFFFF; /* Set text color to white */
}
